@tailwind base;
@tailwind components;
@tailwind utilities;

/* Layout Styles */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s, color 0.3s;
}

body.light {
  --bg-color: white;
  --text-color: black;
  --header-bg-color: white;
  /* 追加: ライトモードのヘッダー背景色 */
  --header-text-color: black;
  /* 追加: ライトモードのヘッダーテキスト色 */
  --card-bg-color: #f5f5f5;
  --card-shadow: rgba(0, 0, 0, 0.1);
  --card-hover-shadow: rgba(0, 0, 0, 0.2);
}

body.dark {
  --bg-color: black;
  --text-color: white;
  --header-bg-color: black;
  /* 追加: ダークモードのヘッダー背景色 */
  --header-text-color: white;
  /* 追加: ダークモードのヘッダーテキスト色 */
  --card-bg-color: #333;
  --card-shadow: rgba(255, 255, 255, 0.1);
  --card-hover-shadow: rgba(255, 255, 255, 0.2);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-layout {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

footer {
  margin-top: auto;
}

header {
  background-color: var(--header-bg-color);
  /* 変更: テーマに応じたヘッダー背景色 */
  color: var(--header-text-color);
  /* 変更: テーマに応じたヘッダーテキスト色 */
}

/* Video Styles */
.video-wrapper,
.video-container {
  position: relative;
  padding-top: 56.25%;
  /* 16:9アスペクト比 */
  height: 0;
  overflow: hidden;
  z-index: 10;
}

.video-wrapper iframe,
.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Card Styles */
.card {
  background-color: var(--card-bg-color);
  /* カードの背景色 */
  border-radius: 0.5rem;
  /* カードの角を丸くする */
  box-shadow: 0 2px 8px var(--card-shadow);
  /* カードの影 */
  transition: box-shadow 0.3s;
  /* ホバー時の影のトランジション */
}

.card:hover {
  box-shadow: 0 4px 16px var(--card-hover-shadow);
  /* ホバー時の影 */
}

.card-body {
  padding: 1rem;
  /* カードの内部余白 */
}

.fixed-card-size {
  height: 340px;
  /* 固定の高さを設定 */
}

.custom-card-size {
  height: 250px;
  /* 固定の高さを設定 */
  overflow: hidden;
}

.custom-card-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Text Styles */
.font-bold {
  font-weight: bold;
  /* 太字 */
}

.video-title {
  font-size: 2.5rem;
  /* 40pxに相当 */
  font-weight: bold;
  /* 太字にする */
  color: var(--text-color);
  /* 色を暗めのグレーに設定 */
  margin-bottom: 20px;
  /* 下の要素との間隔 */
}

.text-container {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-wrap {
  word-wrap: break-word;
}

.note-content {
  white-space: pre-wrap;
  overflow-y: auto;
}

.note-content-normal {
  /* white-space: pre-wrap; */
  overflow-y: auto;
}

.note-card-normal {
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-line;
}

.note-card {
  width: 100%;
  height: 300px;
  /* 固定高さ */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  animation: fadeIn 0.5s ease-in-out;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.note-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.note-card-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.note-card-title,
.note-card-likes,
.note-card-content {
  margin-bottom: 8px;
}

.note-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.note-items {
  flex: 1 1 45%;
  max-width: 45%;
  text-align: center;
}

@media (max-width: 768px) {
  .note-items {
    flex: 1 1 100%;
    max-width: 100%;
  }
}

/* Button Styles */
.btn-outline {
  border: 1px solid #ccc;
  /* アウトラインボタンの境界線 */
  padding: 0.5rem 1rem;
  /* アウトラインボタンの余白 */
}

.btn-outline:hover {
  background-color: #f0f0f0;
  /* ホバー時の背景色 */
}

.btn-outline.btn-blue {
  border: 1px solid #fff;
  color: #38bdf8;
  background-color: transparent;
}

.btn-outline.btn-blue:hover {
  background-color: #38bdf8;
  color: #fff;
  border-color: #38bdf8;
}

.btn-outline.btn-skyblue {
  border: 1px solid #fff;
  color: #fff;
  background-color: #22eec5;
}

.btn-outline.btn-skyblue:hover {
  background-color: #22eec5;
  color: #fff;
  border-color: #22eec5;
}

.btn-outline.btn-perple {
  border: 1px solid #fff;
  color: #fff;
  background-color: #c084fc;
}

.btn-outline.btn-perple:hover {
  background-color: #c084fc;
  color: #fff;
  border-color: #c084fc;
}

.btn-outline.btn-lightperple {
  border: 1px solid #fff;
  color: #fff;
  background-color: #818cf8;
}

.btn-outline.btn-lightperple:hover {
  background-color: #818cf8;
  color: #fff;
  border-color: #818cf8;
}

.btn-outline.btn-pink {
  border: 1px solid #fff;
  color: #fff;
  background-color: #e879f9;
}

.btn-outline.btn-pink:hover {
  background-color: #e879f9;
  color: #fff;
  border-color: #e879f9;
}

.btn-outline.btn-darkpink {
  border: 1px solid #fff;
  color: #fff;
  background-color: #38bdf8;
}

.btn-outline.btn-darkpink:hover {
  background-color: #38bdf8;
  color: #fff;
  border-color: #38bdf8;
}

/* Badge Styles */
.badge-error {
  background-color: #e3342f;
  /* エラーバッジの背景色 */
  color: #fff;
  /* エラーバッジの文字色 */
}

/* Link Styles */
.link-hover:hover {
  text-decoration: underline;
  /* ホバー時の下線 */
}

/* Input Styles */
input[type="text"] {
  background-color: white;
  /* 背景色を白に設定 */
  color: black;
  /* テキスト色を黒に設定 */
}

/* Scrollbar Styles */
.no-visible-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.no-visible-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Utility Styles */
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mb-3 {
  margin-bottom: 1rem;
  /* 下の余白 */
}

.transition-shadow {
  transition: box-shadow 0.3s;
  /* 影のトランジション */
}

.duration-300 {
  transition-duration: 300ms;
  /* トランジションの継続時間 */
}

.fixed-button-container {
  margin-top: auto;
  text-align: center;
}

.fixed-bottom {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

/* Gradient Backgrounds */
@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.bg-gradient-rainbow {
  background: linear-gradient(to right, #38bdf8, #818cf8, #c084fc, #e879f9, #22eec5);
  background-size: 200% 200%;
  animation: rainbow 10s ease infinite;
}

.bg-gradient-rainbow-header {
  background: linear-gradient(to right, #38bdf8, #818cf8, #c084fc, #e879f9, #22eec5);
  background-size: 200% 200%;
  animation: rainbow 10s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes rainbow-border {
  0% {
    border-bottom-color: #38bdf8;
  }

  25% {
    border-bottom-color: #818cf8;
  }

  50% {
    border-bottom-color: #c084fc;
  }

  75% {
    border-bottom-color: #e879f9;
  }

  100% {
    border-bottom-color: #22eec5;
  }
}

.rainbow-border {
  border-bottom: 3px solid;
  animation: rainbow-border 4s linear infinite;
}

.youtube-video-card {
  transition: transform 0.2s ease-in-out;
}

.youtube-video-card:hover {
  transform: scale(1.05);
}

.like-button {
  transition: transform 0.2s ease-in-out;
}

.like-button:active {
  transform: scale(1.2);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

.modal-content {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  position: relative;
  width: 90%;
  max-width: 500px;
  max-height: 90%;
  overflow-y: auto;
}

@media (max-width: 768px) {
  .modal-content {
    width: 90%;
    height: auto;
  }
}

@layer base {
  .gradient-overlay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #e879f9, #38bdf8, #818cf8, #22eec5, #c084fc, #e879f9);
    background-size: 400% 400%;
    /* 背景サイズを大きくして、ループ効果を強調 */
    opacity: 0.3;
    animation: gradient-flow 7s linear infinite;
    z-index: 1;
    pointer-events: none;
  }
}

@keyframes gradient-flow {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}

.flex-wrap {
  flex-wrap: wrap;
}

.input-file {
  flex: 1 1 auto;
  min-width: 0;
}

@media (max-width: 640px) {
  .input-file {
    width: 100%;
    margin-top: 0.5rem;
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
